<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="Soranix" content="Aufgabe Liste">
    <title>Aufgabenliste</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>



<body>
    <header>
        <img src="/static/images/PerIS-Logo.png" alt="PerIS-Logo">
        <h1>Aufgabenliste</h1>
        <nav>
            <ul>
                <li><a href="index.html">Dashboard</a></li>
                <li><a href="recherche_uebersicht.html">Rechercheübersicht</a></li>
                <li><a class="active" href="aufgabenliste.html">Aufgabenliste</a></li>
                <li><a href="#">Trefferliste</a></li>
                <li><a href="#">Einsatzliste</a></li>
                <li><a href="#">Wartungsliste</a></li>
                <li><a href="#">Beschlussliste</a></li>
                <li><a href="#">Statistik</a></li>
            </ul>
        </nav>
    </header>



    <main id="aufgabe-maincontainer">
        <section class="aufgabe-actionleiste">

        </section>
        <section id="aufgabe-aufgabencontainer">
            <div class="aufgabenpanel">
                <h2>Aufgaben</h2>
                <div class="panel-filter"></div>
                <ul class="dashboard-list">

                </ul>
            </div>

            <div class="aufgabenpanel"><h3>Test</h3></div>
            <div class="aufgabenpanel"><h3>Test</h3></div>
        </section>
    </main>





    <footer>
        <p>&copy;2025   -    Nico Puchert    -    PerIS-WebApp</p>
    </footer>    



</body>
</html>