<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="Soranix" content="PerIS-App Dashboard">
    <title>PerIS Dashboard</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>

<body>
    <header>
        <img src="../static/images/PerIS-Logo.png" alt="PerIS-Logo">
        <h1>Dashboard</h1>
        <nav>
            <ul>
                <li><a class="active" href="index.html">Dashboard</a></li>
                <li><a href="recherche_uebersicht.html">Rechercheübersicht</a></li>
                <li><a href="#">Aufgabenliste</a></li>
                <li><a href="#">Trefferliste</a></li>
                <li><a href="#">Einsatzliste</a></li>
                <li><a href="#">Wartungsliste</a></li>
                <li><a href="#">Beschlussliste</a></li>
                <li><a href="#">Statistik</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section id="uebersicht-beschluesse">
            <h2>Übersicht Beschlüsse</h2>
            <ul class="dashboard-list">
                <li data-beschluesse-id="01" class="date-warning dashboard-list-item">
                    <div><span class="label">Name:</span><span class="beschluss-titel">EV Nico</span></div>
                    <div><span class="label">Vorg. Nr.:</span><span class="beschluss-vn">1234/24/133230</span></div>
                    <div><span class="label">Datum:</span><span class="beschluss-ablaufdatum">01.01.2026</span></div>
                    <span hidden class="beschluss-az-db">23 Js 12344/23</span>
                    <span hidden class="beschluss-org-einheit-db">LKA Brandenburg</span>
                    <span hidden class="beschluss-bl-db">Brandenburg</span>
                    <span hidden class="beschluss-orte-db">SB, HW, CS, FS</span>
                    <span hidden class="beschluss-beginnU-db">01.01.2025</span>
                    <span hidden class="beschluss-endeU-db">-</span>
                    <span hidden class="beschluss-ablauf-db">01.03.2025</span>
                    <span hidden class="beschluss-treffer-db">150</span>
                    <span hidden class="beschluss-einsaetze-db">100</span>
                    <span hidden class="beschluss-schaden-db">100.000€</span>
                </li>

                <li data-beschluesse-id="02" class="date-warning dashboard-list-item">
                    <div><span class="label">Name:</span><span class="beschluss-titel">EV Elena</span></div>
                    <div><span class="label">Vorg. Nr.:</span><span class="beschluss-vn">1234/24/133230</span></div>
                    <div><span class="label">Datum:</span><span class="beschluss-ablaufdatum">01.01.2026</span></div>
                    <span hidden class="beschluss-az-db">23 Js 12344/23</span>
                    <span hidden class="beschluss-org-einheit-db">LKA Brandenburg</span>
                    <span hidden class="beschluss-bl-db">Brandenburg</span>
                    <span hidden class="beschluss-orte-db">SB, HW, CS, FS</span>
                    <span hidden class="beschluss-beginnU-db">01.01.2025</span>
                    <span hidden class="beschluss-endeU-db">-</span>
                    <span hidden class="beschluss-ablauf-db">01.03.2025</span>
                    <span hidden class="beschluss-treffer-db">150</span>
                    <span hidden class="beschluss-einsaetze-db">100</span>
                    <span hidden class="beschluss-schaden-db">100.000€</span>
                </li>

                <li data-beschluesse-id="03" class="date-warning dashboard-list-item">
                    <div><span class="label">Name:</span><span class="beschluss-titel">EV Fori</span></div>
                    <div><span class="label">Vorg. Nr.:</span><span class="beschluss-vn">1234/24/133230</span></div>
                    <div><span class="label">Datum:</span><span class="beschluss-ablaufdatum">01.01.2026</span></div>
                    <span hidden class="beschluss-az-db">23 Js 12344/23</span>
                    <span hidden class="beschluss-org-einheit-db">LKA Brandenburg</span>
                    <span hidden class="beschluss-bl-db">Brandenburg</span>
                    <span hidden class="beschluss-orte-db">SB, HW, CS, FS</span>
                    <span hidden class="beschluss-beginnU-db">01.01.2025</span>
                    <span hidden class="beschluss-endeU-db">-</span>
                    <span hidden class="beschluss-ablauf-db">01.03.2025</span>
                    <span hidden class="beschluss-treffer-db">150</span>
                    <span hidden class="beschluss-einsaetze-db">100</span>
                    <span hidden class="beschluss-schaden-db">100.000€</span>
                </li>

                <li data-beschluesse-id="04" class="date-warning dashboard-list-item">
                    <div><span class="label">Name:</span><span class="beschluss-titel">EV Madeleine</span></div>
                    <div><span class="label">Vorg. Nr.:</span><span class="beschluss-vn">1234/24/133230</span></div>
                    <div><span class="label">Datum:</span><span class="beschluss-ablaufdatum">01.01.2026</span></div>
                    <span hidden class="beschluss-az-db">23 Js 12344/23</span>
                    <span hidden class="beschluss-org-einheit-db">LKA Brandenburg</span>
                    <span hidden class="beschluss-bl-db">Brandenburg</span>
                    <span hidden class="beschluss-orte-db">SB, HW, CS, FS</span>
                    <span hidden class="beschluss-beginnU-db">01.01.2025</span>
                    <span hidden class="beschluss-endeU-db">-</span>
                    <span hidden class="beschluss-ablauf-db">01.03.2025</span>
                    <span hidden class="beschluss-treffer-db">150</span>
                    <span hidden class="beschluss-einsaetze-db">100</span>
                    <span hidden class="beschluss-schaden-db">100.000€</span>
                </li>

            </ul>
            
            <div class="beschlussdetails hidden">
                <h3>Beschluss Details</h3>
                
                <div class="beschluss-details-header">
                    <h4 class="beschluss-details-titel">EV Soranix</h4>
                </div>

                <div class="beschluss-fakten">

                    <div>
                        <span class="beschluss-fakten-links"><span class="beschluss-fakten-titel">VN:</span> <span class="beschluss-details-vn">1234/24/123456</span></span>
                        <span><span class="beschluss-fakten-titel">AZ:</span> <span class="beschluss-details-az">12 Js 123456/25</span></span>
                    </div>

                    <div>
                        <span class="beschluss-fakten-links"><span class="beschluss-fakten-titel">Beginn:</span> <span class="beschluss-details-beginn">10.01.2025</span></span>
                        <span><span class="beschluss-fakten-titel">Org.:</span> <span class="beschluss-details-org">KPI Brandenburg</span></span>
                    </div>
                    
                    <div>
                        <span class="beschluss-fakten-links"><span class="beschluss-fakten-titel">Ende:</span> <span class="beschluss-details-ende">-</span></span>
                        <span><span class="beschluss-fakten-titel">BL.:</span> <span class="beschluss-details-bl">Brandenburg</span></span>
                    </div>
                    
                    <div>
                        <span class="beschluss-fakten-links"><span class="beschluss-fakten-titel">Ablauf:</span> <span class="beschluss-details-ablauf">10.03.2025</span></span>
                        <span><span class="beschluss-fakten-titel">Orte:</span> <span class="beschluss-details-orte">GR*, ZI*, BAB 15, 4</span></span>
                    </div>
                    
                    <div class="border-unten"></div>

                    <div class="beschluss-verlaengerung">
                        <ul>
                            <fieldset>
                                <legend>Verlängerungen</legend>
                                <li>
                                    <span class="beschlüsse-verl-elemente">
                                        <div><span>AZ:</span> <span>23 JS 123423/23</span></div>
                                        <div><span>Datum-Ablauf:</span><span>23.04.2025</span></div>
                                    </span>
                                </li>

                            </fieldset>
                            

                        </ul>

                    </div>
                </div>
               
                <div>
                
                    <ul>
                        <fieldset class="beschluss-personen">
                            <legend>Personen</legend>
                            <li>
                                <div>
                                    <span class="label-beschluss-personen"><span><span>Nico</span> <span>Puchert</span></span> <span> 07.05.1996</span></Span>
                                </div>
                                <div>
                                    <span>
                                        <span>
                                            <span class="label-beschluss-personen">Biometrie:</span> <span>ja</span></span>
                                            <span class="bio-person">
                                                <span>
                                                <span class="label-beschluss-personen">Beginn: </span><span>20.01.2025</span></span>
                                                <span><span class="label-beschluss-personen">Ende: </span> <span>20.03.2025</span></span>
                                            </span>
                                    </span> 

                                </div>
                            </li> 

                            <li>
                                <div>
                                    <span class="label-beschluss-personen"><span><span>Nico</span> <span>Puchert</span></span> <span> 07.05.1996</span></Span>
                                </div>
                                <div>
                                    <span>
                                        <span>
                                            <span class="label-beschluss-personen">Biometrie:</span> <span>ja</span></span>
                                            <span class="bio-person">
                                                <span>
                                                <span class="label-beschluss-personen">Beginn: </span><span>20.01.2025</span></span>
                                                <span><span class="label-beschluss-personen">Ende: </span> <span>20.03.2025</span></span>
                                            </span>
                                    </span> 

                                </div>
                            </li>

                            <li>
                                <div>
                                    <span class="label-beschluss-personen"><span><span>Nico</span> <span>Puchert</span></span> <span> 07.05.1996</span></Span>
                                </div>
                                <div>
                                    <span>
                                        <span>
                                            <span class="label-beschluss-personen">Biometrie:</span> <span>ja</span></span>
                                            <span class="bio-person">
                                                <span>
                                                <span class="label-beschluss-personen">Beginn: </span><span>20.01.2025</span></span>
                                                <span><span class="label-beschluss-personen">Ende: </span> <span>20.03.2025</span></span>
                                            </span>
                                    </span> 

                                </div>
                            </li>
                             
                        </fieldset>
                    </ul>
                    <fieldset>
                        <legend>Statistik</legend>
                        <div class="beschluss-detail-statistik">
                            <div><span class="label-statistik">Treffer: </span><span class="beschluss-details-treffer"> 100</span></div>
                            <div><span class="label-statistik">Einsätze:</span><span class="beschluss-details-einsaetze">30</span></div>
                            <div><span class="label-statistik">Schaden: </span> <span class="beschluss-details-schaden">200.000€</span></div>

                        </div>

                    </fieldset>

                </div>
                <div class="buttons">
                    <button type="button" class="close-button button">X</button>
                    <button type="button" class="link-button button">></button>
                </div>
                
            </div>
        </section>

        <section id="hinweise">
            <h2>Hinweis & Notizen</h2>
            <div class="filter-tabs">
                <button type="button" class="active">öffentlich</button>
                <button type="button" class="active">privat</button>
            </div>

            <ul class="hinweis-liste dashboard-list">
                <li data-note-id="01" class="prio-hoch note-public ">
                    
                    <div class="note-header">
                    <span class="note-title">Wichtiger Systemhinweis</span>
                    <span class="note-meta">von Admin am 04.05.2025</span>
                    <span class="note-prio-badge">Hoch <span> - </span><span class="note-vis-badge">public</span></span> 
                    </div>
                    
                    <div class="note-body">Der Server wird heute Nacht um 02:00 Uhr neu gestartet für wichtige Updates.</div>
                </li>

                <li data-note-id="02" class="prio-mittel note-private">
                    
                    <div class="note-header"><span class="note-title">Recherchen checken</span>
                    <span class="note-meta">von Soranix am 05.05.2025</span>
                    <span class="note-prio-badge">Mittel <span> - </span><span class="note-vis-badge">private</span></span>
                    </div>
                    
                    <div class="note-body">Du musst noch mit Robert eine Termin finden und die Mobile checken. Ich schreibe noch deutlich mehr extra um ... zu generieren</div>

                </li>

                <li data-note-id="03" class="prio-niedrig note-private">
                    
                    <div class="note-header"><span class="note-title">Recherchen checken</span>
                    <span class="note-meta">von Soranix am 05.05.2025</span>
                    <span class="note-prio-badge">Niedrig  <span> - </span><span class="note-vis-badge">private</span></span>
                    </div>
                    
                    <div class="note-body">Du musst noch mit Robert eine Termin finden und die Mobile checken </div>

                </li>

            </ul>

            <div class="dashboard-details-panel hidden">
                <form action="">
                    <h3>Infos</h3>
                    <div><input type="text" name="details-titel" id="details-titel" class="details-titel change-info" disabled required></div>
                    <div><input type="text" name="details-meta" id="details-meta" class="details-meta" disabled></div>
                    
                    <textarea type="text" name="details-content" id="details-content" class="details-content change-info" disabled required></textarea>
                    <div class="border-unten"></div>
                    <div class="auswahl">
                        <select name="note-details-prio" id="note-details-prio" class="note-details-prio change-info" disabled>
                            <option value="niedrig">Niedrig</option>
                            <option value="mittel">Mittel</option>
                            <option value="hoch">Hoch</option>
                        </select>

                        <div class="radio" >
                            <span style="font-weight: bold;">Sichtbarkeit:</span>
                            <span><label for="note-details-vis">öffentlich</label> <input type="radio" name="note-details-vis" id="note-details-vis-public" value="public" disabled class="change-info"></span>
                            <span><label for="note-details-vis">privat</label> <input type="radio" name="note-details-vis" id="note-details-vis-private" value="private" disabled class="change-info"></span>
                        </div>
                    </div>
                    <div class="buttons">
                        <div>
                            <button type="button" class="close-button button">X</button>
                            <button type="button" class="change-button button">Bearbeiten</button>
                            <button type="button" class="del-button button">Löschen</button>
                        </div>
                        <button type="submit" class="save-button button hidden">Speichern</button>

                    </div>

                </form>

            </div>
            
            <img class="add-button" src="../static/images/plus-icon.png" alt="Plus Icon" title="Neue Notiz hinzufügen">
            
            <div class="dashboard-add-panel hidden">
                <form action=""> 
                    <div id="header">
                        <label for="note-title">Titel:</label>
                        <input type="text" name="note-title" id="note-title" placeholder="Titel..." required>
                        
                        <label for="note-text">Notiz/ Hinweis:</label>
                        <textarea name="note-text" id="note-text" placeholder="Neue Notiz..." required></textarea> 

                    </div>

                    <div id="main">
                        <div id="prio">
                            <label for="note-prio">Priorität:</label>    
                            <select name="note-prio" id="note-prio">
                                <option value="niedrig">Niedrig</option>
                                <option value="mittel">Mittel</option>
                                <option value="hoch">Hoch</option>
                            </select>
                        </div>
                        
                
                        <div id="vis">
                            <label for="vis" id="vis-titel">Sichtbarkeit:</label>
                            <input type="radio" name="visibility" id="vis-public" value="public" checked> <label for="vis-public">öffentlich</label>
                            <input type="radio" name="visibility" id="vis-private" value="private"> <label for="vis-private">Privat</label> 
                        </div>

                    </div>
                    <div id="buttons">
                        <div>
                            <button type="button" class="close-button">X</button>
                            <button type="reset" class="clear-button">Clear</button>
                        </div>
                            <button type="submit">Notiz hinzufügen</button>
                            
                        </div>
                    
                </form>

            </div>


        </section>

        <section id="offene-aufgaben">
            <h2>Aufgaben</h2>
            <ul class="dashboard-list">
                <li data-task-id="1" class="dashboard-list-item">
                    <span class="task-dashboard-title">Aufgabe: Prüfe Lage XYL</span>
                    <span class="task-status task-status-offen">offen</span>
                    <span hidden class="task-vis-db">private</span>
                    <span hidden class="task-prio-db">hoch</span>
                    <span hidden class="task-creater">PuNi</span>
                    <span hidden class="task-date">12.04.2025</span>
                    <textarea hidden class="task-content-db" name="task-comment-content" id="task-comment-content">Hier könnte Ihre Werbung stehen! </textarea>
                </li>

                <li data-task-id="2" class="dashboard-list-item">
                    <span class="task-dashboard-title">Lageeintrag 007 in HW prüfen!</span>
                    <span class="task-status task-status-arbeit">in Arbeit</span>
                    <span hidden class="task-vis-db">public</span>
                    <span hidden class="task-prio-db">mittel</span>
                    <span hidden class="task-creater">PuNi</span>
                    <span hidden class="task-date">12.04.2025</span>
                    <textarea hidden class="task-content-db" name="task-comment-content" id="task-comment-content">Hier könnte Ihre Werbung stehen! Hier könnte Ihre Werbung stehen! Hier könnte Ihre Werbung stehen! Hier könnte Ihre Werbung stehen! Hier könnte Ihre Werbung stehen! Hier könnte Ihre Werbung stehen! Hier könnte Ihre Werbung stehen! Hier könnte Ihre Werbung stehen! Hier könnte Ihre Werbung stehen! Hier könnte Ihre Werbung stehen! </textarea>
                </li>

                <li data-task-id="3" class="dashboard-list-item">
                    <span class="task-dashboard-title">Aufgabe: Prüfe Lage XYL</span>
                    <span class="task-status task-status-done">fertig</span>
                    <span hidden class="task-vis-db">private</span>
                    <span hidden class="task-prio-db">niedrig</span>
                    <span hidden class="task-creater">PuNi</span>
                    <span hidden class="task-date">12.04.2025</span>
                    <textarea hidden class="task-content-db" name="task-comment-content" id="task-comment-content">Hier könnte Ihre Werbung stehen! </textarea>
                </li>
            </ul>
            


            <div class ="dashboard-details-panel hidden">
                
                <h3 class="task-header-title">Details</h3>
                
                
                <form class="task-form">

                    <div class="form-group task-title ">
                        <input class="task-titel task-info-field" type="text" name="task-titel" id="task-titel" disabled>
                        
                    </div>

                    <div class="form-group task-meta">
                        <span class="task-mete-string">Erstellt von <span class="ersteller-von"></span> am <span class="erstellt-am"></span></span>
                    </div>
                    
                    <div class="form-group task-content">
                        <textarea class="task-body task-info-field" name="task-body" id="task-body" placeholder="Hier steht der Task Text drin!" disabled></textarea>    
                    </div>

                    <div class="task-vis-prio">
                        <div class="form-group task-prio"> 
                            <select class="task-prio task-info-field" name="task-prio" id="task-prio" disabled>
                                <option value="niedrig">Niedrig</option>
                                <option value="mittel">Mittel</option>
                                <option value="hoch">Hoch</option>
                            </select>
                            <span class="task-status task-info-field disabled"></span>
                        </div>
                
                        <div class="form-group task-vis">
                            <label class="task-vis task-info-field" for="task-visibility" id="task-vis-titel">Sichtbarkeit:</label>
                            <input class="task-vis task-info-field" type="radio" name="task-visibility" id="task-vis-public" disabled value="public" checked> <label for="task-vis-public">öffentlich</label>
                            <input class="task-vis task-info-field" type="radio" name="task-visibility" id="task-vis-private" disabled value="private"> <label for="task-vis-private">Privat</label> 
                        </div>
                    </div>
                    

                    <div class="form-group task-tags">
                        <label>Zugehörige Recherche-IDs</label>
                        <div class="id-tags">(7734-GR)</div>
                    </div>

                    <div class="form-group task-tags">
                        <label>Zugehörige Personen</label>
                        <div class="person-tags">(PuNi0705)</div>
                    </div>

                    <div class="form-group task-buttons">
                        <div class="buttons-left">
                            <button class="close-button" type="button">X</button>
                            <button class="change-button" type="button">Bearbeiten</button>
                            <button class="del-button" type="button">Löschen</button>
                        </div>
                        <div class="task-button-right">
                            <button class="save-button hidden" type="submit">Speichern</button>
                            <a href="#"><button class="go-to-button" type="button">></button></a>
                        </div>
                        

                    </div>
                    <div class="border-unten"></div>
                    <h4 style="text-align: center;">Kommentare</h4>
                    <div class="form-group task-comments-section">
                        <div class="existing-comments-list">
                            <ul class="task-comment-list">
                                <li data-task-comment-id="1" class="test01 zu-task-id-1">
                                    <img class="rotes-kreuz" src="/static/images/rotesKreuz.png" alt="rotesKreuz">
                                    <div>
                                        <strong class="task-name-date-comment">Nico - (09.05.2025):</strong>
                                        <p class="task-comment-content">Zweiter Kommentar dazu</p>

                                    </div>
                                    
                                </li>

                                <li data-task-comment-id="2" class="test01 zu-task-id-2">
                                    <img class="rotes-kreuz" src="/static/images/rotesKreuz.png" alt="rotesKreuz">
                                    <div>
                                        <strong class="task-name-date-comment">Nico - (09.05.2025):</strong>
                                        <p class="task-comment-content">Zweiter Kommentar dazu</p>

                                    </div>
                                    
                                </li>
                                <li data-task-comment-id="3" class="test01 zu-task-id-3">
                                    <img class="rotes-kreuz" src="/static/images/rotesKreuz.png" alt="rotesKreuz">
                                    <div>
                                        <strong class="task-name-date-comment">Nico - (09.05.2025):</strong>
                                        <p class="task-comment-content">Zweiter Kommentar dazu</p>

                                    </div>
                                    
                                </li>
                                <li data-task-comment-id="1" class="test01 zu-task-id-2">
                                    <img class="rotes-kreuz" src="/static/images/rotesKreuz.png" alt="rotesKreuz">
                                    <div>
                                        <strong class="task-name-date-comment">Nico - (09.05.2025):</strong>
                                        <p class="task-comment-content">Zweiter Kommentar dazu</p>

                                    </div>
                                    
                                </li>
                                <li data-task-comment-id="3" class="test01 zu-task-id-3">
                                    <img class="rotes-kreuz" src="/static/images/rotesKreuz.png" alt="rotesKreuz">
                                    <div>
                                        <strong class="task-name-date-comment">Nico - (09.05.2025):</strong>
                                        <p class="task-comment-content">Zweiter Kommentar dazu</p>

                                    </div>
                                    
                                </li>
                            </ul>
                            
                            
                        </div>
                        <textarea class="new-comment-task change-info-task" placeholder="Neuer Kommentar..."></textarea>
                        <button type="button" class="add-comment-task-button change-info-task">Kommentar hinzufügen</button>
                    </div>
                    
                    
                    
                </form>
            </div>


        </section>

        <section id="offene-loeschungen">
            <h2 class="del-header-title">Offene Löschungen</h2>
            <ul class="dashboard-list">
                <li data-recherche-id="01" title="Details zur Recherche ID 1 anzeigen">
                    <div><span class="label">ID:</span><span class="value-recherche-id">01</span></div>
                    <div><span class="label">System:</span><span class="value-recherche-system">Görlitz</span></div>
                    <div><span class="label">Vorg.Nr.:</span><span class="value-recherche-vn">1234/24/133230</span></div>
                    <div><span class="label">Delikt:</span><span class="value-recherche-delikt">§244a StGB</span></div>
                    <span hidden class="value-recherche-delTagger">PuNi</span>
                    <span hidden class="value-recherche-grund">fehlanlegung</span>
                    <span hidden class="value-recherche-text">Recherche ist nicht richtig aufrufbar</span>
                </li>
                <li data-recherche-id="01" title="Details zur Recherche ID 1 anzeigen">
                    <div><span class="label">ID:</span><span class="value-recherche-id">01</span></div>
                    <div><span class="label">System:</span><span class="value-recherche-system">Görlitz</span></div>
                    <div><span class="label">Vorg.Nr.:</span><span class="value-recherche-vn">1234/24/133230</span></div>
                    <div><span class="label">Delikt:</span><span class="value-recherche-delikt">§244a StGB</span></div>
                    <span hidden class="value-recherche-delTagger">PuNi</span>
                    <span hidden class="value-recherche-grund">fehlanlegung</span>
                    <span hidden class="value-recherche-text">Recherche ist nicht richtig aufrufbar</span>
                </li>
                <li data-recherche-id="01" title="Details zur Recherche ID 1 anzeigen">
                    <div><span class="label">ID:</span><span class="value-recherche-id">01</span></div>
                    <div><span class="label">System:</span><span class="value-recherche-system">Görlitz</span></div>
                    <div><span class="label">Vorg.Nr.:</span><span class="value-recherche-vn">1234/24/133230</span></div>
                    <div><span class="label">Delikt:</span><span class="value-recherche-delikt">§244a StGB</span></div>
                    <span hidden class="value-recherche-delTagger">PuNi</span>
                    <span hidden class="value-recherche-grund">fehlanlegung</span>
                    <span hidden class="value-recherche-text">Recherche ist nicht richtig aufrufbar</span>
                </li>
                <li data-recherche-id="01" title="Details zur Recherche ID 1 anzeigen">
                    <div><span class="label">ID:</span><span class="value-recherche-id">01</span></div>
                    <div><span class="label">System:</span><span class="value-recherche-system">Görlitz</span></div>
                    <div><span class="label">Vorg.Nr.:</span><span class="value-recherche-vn">1234/24/133230</span></div>
                    <div><span class="label">Delikt:</span><span class="value-recherche-delikt">§244a StGB</span></div>
                    <span hidden class="value-recherche-delTagger">PuNi</span>
                    <span hidden class="value-recherche-grund">fehlanlegung</span>
                    <span hidden class="value-recherche-text">Recherche ist nicht richtig aufrufbar</span>
                </li>

                
  
            </ul>
            <div class="loesch-detail-panel hidden">
                <h3>Details zum Löschen</h3>
            <div>
                <h4>Vorgang</h4>
                
                <div class="del-info-meta">
                    <div><span class="left">ID:</span><span class="left-value del-info-id">1234</span></div> <div><span class="right">System:</span><span class="del-info-system">Görlitz</span></div> 
                </div>
                <div class="del-info-meta">
                    <div><span class="left">VN:</span><span class="left-value del-info-vn">1234/12/123123</span></div><div><span class="right">Delikt:</span><span class="del-info-delikt">244a StGB</span></div></div>
                </div>

                
                <form action="" class="del-form">
                    <fieldset>
                        <legend class="leg-titel">Löschgrund</legend>
                        <div><label class="del-label">Lösch-Tagger:</label><span class="loesch-Vormerker del-info-delTagger">PuNi0705</span></div>
                        <div><label for="loeschgrund-auswahl" class="del-label">Löschgrund:</label><select name="loeschgrund-auswahl" id="loeschgrund-auswahl" class="del-info-grund" disabled><option value="datenfehler">Datenfehler</option><option value="fehlanlegung">Fehlanlegung</option><option value="recherchearbeit-abgeschlossen">Re. abgeschlossen</option></select></div>
                        <div><label for="del-grund-text" class="del-label-extra">Lösch Hinweise:</label></div>
                        <div><textarea readonly class="del-grund-text del-info-text" name="del-grund-text" id="del-grund-text"></textarea></div>
                    </fieldset>

                    <fieldset>
                        <legend class="leg-titel-unten">Prüfung</legend>
                        <div><label for="check-id-eingetragen" class="del-label-unten">ID geprüft/ vorhanden:</label><input type="checkbox" name="check-id-eingetragen" id="check-id-eingetragen" required></div>
                        <div><label for="check-id-aufgaben" class="del-label-unten">Keine Aufgaben/ Ausleitungen offen:</label> <input type="checkbox" name="check-id-aufgaben" id="check-id-aufgaben" required></div>
                        <div><label for="check-id-aufgaben" class="del-label-unten">PerIS-Recherche Löschung:</label> <input type="checkbox" name="check-id-loeschung" id="check-id-loeschung" required></div>
                        <button type="submit" class="delete-button button">Endgültig löschen</button>
                    </fieldset>
                </form>

                <button type="button" class="close-button button">Schließen</button>
                </div>
            </div>
            
        </section>

        <section id="offene-ausleitungen">
            <h2>Offene Ausleitungen</h2>

            <ul class="ul-ausl-dashboard">

                <li data-recherche-id="1" class="laufzeit-ok" title="Details zur Recherche-ID 04">

                    <div class="line-1">
                        <div><span class="label">ID:</span><span class="value-ausl-id">04</span></div>
                        <div><span class="label">VN:</span><span class="value-ausl-vn">1234/23/123456</span></div>
                        <div><span class="label">Sys:</span><span class="value-ausl-sys">GR</span></div>
                    </div>

                    <div class="line-2">
                        <div><span class="label">SB:</span><span class="value-ausl-sbp">PuNi</span></div>
                        <div><span class="label">Stand:</span><span class="value-ausl-stand">Step.4</span></div>
                        <div><span class="label">Zeit:</span><span class="value-ausl-time">200h</span></div>
                    </div>

                </li>

                <li data-recherche-id="2" class="laufzeit-kurz" title="Details zur Recherche-ID 04">

                    <div class="line-1">
                        <div><span class="label">ID:</span><span class="value-ausl-id">12000</span></div>
                        <div><span class="label">VN:</span><span class="value-ausl-vn">1234/23/123456</span></div>
                        <div><span class="label">Sys:</span><span class="value-ausl-sys">PM2</span></div>
                    </div>

                    <div class="line-2">
                        <div><span class="label">SB:</span><span class="value-ausl-sbp">PuNi</span></div>
                        <div><span class="label">Stand:</span><span class="value-ausl-stand">Step.10</span></div>
                        <div><span class="label">Zeit:</span><span class="value-ausl-time">2000h</span></div>
                    </div>

                </li>
                <li data-recherche-id="3" class="laufzeit-mittel" title="Details zur Recherche-ID 04">

                    <div class="line-1">
                        <div><span class="label">ID:</span><span class="value-ausl-id">04</span></div>
                        <div><span class="label">VN:</span><span class="value-ausl-vn">1234/23/123456</span></div>
                        <div><span class="label">Sys:</span><span class="value-ausl-sys">GR</span></div>
                    </div>

                    <div class="line-2">
                        <div><span class="label">SB:</span><span class="value-ausl-sbp">PuNi</span></div>
                        <div><span class="label">Stand:</span><span class="value-ausl-stand">Step.4</span></div>
                        <div><span class="label">Zeit:</span><span class="value-ausl-time">200h</span></div>
                    </div>

                </li>
                <li data-recherche-id="4" class="laufzeit-ok" title="Details zur Recherche-ID 04">

                    <div class="line-1">
                        <div><span class="label">ID:</span><span class="value-ausl-id">04</span></div>
                        <div><span class="label">VN:</span><span class="value-ausl-vn">1234/23/123456</span></div>
                        <div><span class="label">Sys:</span><span class="value-ausl-sys">GR</span></div>
                    </div>

                    <div class="line-2">
                        <div><span class="label">SB:</span><span class="value-ausl-sbp">PuNi</span></div>
                        <div><span class="label">Stand:</span><span class="value-ausl-stand">Step.4</span></div>
                        <div><span class="label">Zeit:</span><span class="value-ausl-time">200h</span></div>
                    </div>




            </ul>
            <div class="ausl-details-panel hidden">
                <h3>Recherche Details</h3>
                
                <h4>Vorgang</h4>
                
                <div class="ausl-info-meta">
                    <div><span class="left">ID:</span><span class="left-value ausl-info-id">1234</span></div> <div><span class="right">System:</span><span class="ausl-info-system">Görlitz</span></div> 
                </div>
                <div class="ausl-info-meta">
                    <div><span class="left">VN:</span><span class="left-value ausl-info-vn">1234/12/123123</span></div><div><span class="right">Delikt:</span><span class="ausl-info-delikt">244a StGB</span></div>
                </div>
                <div class="ausl-info-meta">
                    <div><span class="left">Schritt:</span><span class="left-value ausl-info-step">Step 7</span></div><div><span class="right">Zeit:</span><span class="ausl-info-zeit">100h</span></div>
                </div>


                <form class="ausl-done" action="">

                    <fieldset >
                        <legend>Empfänger</legend>
                        <div>
                            <div><span class="label-left">BL:</span><span class="value-left">Sachsen</span></div> <div><span class="label-right">Org.</span><span>Görlitz</span></div> 
                        </div>
                        <div class="">
                            <div><span class="label-left">Person:</span><span class="value-left">Mandy Harmann</span></div> <div><span class="label-right">Tel:</span><span class="">747-3333</span></div> 
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>Absprachen</legend>
                        <div class="absprachen">
                            <div><label for="step01" class="label-ausl-checkbox-absprachen">Mitteilung K23 / SB </label><input type="checkbox" name="step01" id="step01" required></div>
                            <div><label for="step02" class="label-ausl-checkbox-absprachen">Kontakt SB</label> <input type="checkbox" name="step02" id="step02" required></div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>Check-Liste</legend>
                        <div><label for="step01" class="label-ausl-checkbox">LiBiMap erstellen</label><input type="checkbox" name="step02" id="step02" required></div>
                        <div><label for="step02" class="label-ausl-checkbox">LiBiMap ablegen im Ordner</label> <input type="checkbox" name="step03" id="step03" required></div>
                        <div><label for="step03" class="label-ausl-checkbox">Treffermeldung schreiben</label> <input type="checkbox" name="step04" id="step04" required></div>
                        <div><label for="step03" class="label-ausl-checkbox">Treffer Ausleiten</label> <input type="checkbox" name="step05" id="step05" required></div>
                        <button type="submit" class="button-ausl-checkbox">Ausleiten abschließen</button>
                    </fieldset>
                    <button type="button" class="close-button">Schließen</button>
                </form>

                <form class="ausl-comment-form" action="">
                    <div class="border-unten"></div>
                    <h4 style="text-align: center;">Kommentare</h4>

                    <ul class="ausl-comment-ul">
                        <li data-ausl-comment="1" class="ausl-comment-li zu-ausl-id-1">
                            <img class="ausl-rotes-kreuz" src="/static/images/rotesKreuz.png" alt="rotesKreuz">
                            <div class="ausl-comment-li-meta"><strong>Admin am 12.04.2025</strong></div>
                            <div class="ausl-comment-li-content">Hier steht dann der Inhalt!</div>
                        </li>
                        <li data-ausl-comment="2" class="ausl-comment-li zu-ausl-id-2">
                            <img class="ausl-rotes-kreuz" src="/static/images/rotesKreuz.png" alt="rotesKreuz">
                            <div class="ausl-comment-li-meta"><strong>Admin am 12.04.2025</strong></div>
                            <div class="ausl-comment-li-content">Hier steht dann der Inhalt!</div>
                        </li>
                        <li data-ausl-comment="3" class="ausl-comment-li zu-ausl-id-3">
                            <img class="ausl-rotes-kreuz" src="/static/images/rotesKreuz.png" alt="rotesKreuz">
                            <div class="ausl-comment-li-meta"><strong>Admin am 12.04.2025</strong></div>
                            <div class="ausl-comment-li-content">Hier steht dann der Inhalt!</div>
                        </li>
                        <li data-ausl-comment="3" class="ausl-comment-li zu-ausl-id-4">
                            <img class="ausl-rotes-kreuz" src="/static/images/rotesKreuz.png" alt="rotesKreuz">
                            <div class="ausl-comment-li-meta"><strong>Admin am 12.04.2025</strong></div>
                            <div class="ausl-comment-li-content">Hier steht dann der Inhalt!</div>
                        </li>

                    </ul>
                    <textarea class="ausl-comment-send" name="ausl-comment-send" id="ausl-comment-send"></textarea>
                    <button type="submit" class="ausl-comment-add-Button">Kommentar hinzufügen</button>
                </form>
            </div>

        </section>

        <section id="kamera-zeiten">
            <h2>Kamera Zeiten</h2>
            <form action="">
                <fieldset>
                    <legend>Standort Görlitz</legend>
                    <div>
                        <label for="start_sb">SB:</label>
                        <input type="time" id="start_sb" name="start_sb" value="00:00" disabled> 
                        bis
                        <input type="time" name="end_sb" id="end_sb" value="00:00" disabled>
                        <select name="status_sb" id="status_sb" disabled>
                            <option value="on">AN</option>
                            <option value="off">AUS</option>
                        </select>
                    </div>
                    <div>
                        <label for="start_hw">HW:</label>
                        <input type="time" id="start_hw" name="start_hw" value="00:00" disabled> 
                        bis
                        <input type="time" name="end_hw" id="end_hw" value="00:00" disabled>
                        <select name="status_hw" id="status_hw" disabled>
                            <option value="on">AN</option>
                            <option value="off">AUS</option>
                        </select>
                    </div>
                    
                    <div>
                        <label for="start_asb">ASB:</label>
                        <input type="time" id="start_asb" name="start_asb" value="00:00" disabled>
                        bis
                        <input type="time" name="end_asb" id="end_asb" value="00:00" disabled>
                        <select name="status_asb" id="status_asb" disabled>
                            <option value="on">AN</option>
                            <option value="off">AUS</option>
                        </select>
                    </div>

                    <div>
                        <label for="start_jk">JK:</label>
                        <input type="time" name="start_jk" id="start_jk" value="00:00" disabled>
                        bis
                        <input type="time" name="end_jk" id="end_jk" value="00:00" disabled>
                        <select name="status_jk" id="status_jk" disabled>
                            <option value="on">AN</option>
                            <option value="off">AUS</option>
                        </select>
                    </div>

                    <div>
                        <label for="start_hs">HS:</label>
                        <input type="time" name="start_hs" id="start_hs" value="00:00" disabled>
                        bis
                        <input type="time" name="end_hs" id="end_hs" value="00:00" disabled>
                        <select name="status_hs" id="status_hs" disabled>
                            <option value="on">AN</option>
                            <option value="off">AUS</option>
                        </select>
                    </div>

                    <div>
                        <label for="start_ng">NG:</label>
                        <input type="time" name="start_ng" id="start_ng" value="00:00" disabled>
                        bis
                        <input type="time" name="end_ng" id="end_ng" value="00:00" disabled>
                        <select name="status_ng" id="status_ng" disabled>
                            <option value="on">AN</option>
                            <option value="off">AUS</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Standort Zittau</legend>
                        <div>
                            <label for="start_b178">B178:</label>
                            <input type="time" name="start_b178" id="start_b178" value="00:00" disabled>
                            bis
                            <input type="time" name="end_b178" id="end_b178" value="00:00" disabled>
                            <select name="status_b178" id="status_b178" disabled>
                                <option value="on">AN</option>
                                <option value="off">AUS</option>
                            </select>
                        </div>

                        <div>
                            <label for="start_fs">FS:</label>
                            <input type="time" name="start_fs" id="start_fs" value="00:00" disabled>
                            bis
                            <input type="time" name="end_fs" id="end_fs" value="00:00" disabled>
                            <select name="status_fs" id="status_fs" disabled>
                                <option value="on">AN</option>
                                <option value="off">AUS</option>
                            </select>
                        </div>

                        <div>
                            <label for="start_cs">CS:</label>
                            <input type="time" name="start_cs" id="start_cs" value="00:00" disabled>
                            bis
                            <input type="time" name="end_cs" id="end_cs" value="00:00" disabled>
                            <select name="status_cs" id="status_cs" disabled>
                                <option value="on">AN</option>
                                <option value="off">AUS</option>
                            </select>
                        </div>
                </fieldset>
                <div class="form-actions">
                    <button class="edit-times-button button" type="button">Bearbeiten</button>
                    <button class="save-times-button button hidden" type="submit">Speichern</button>
                </div>
                
            </form>

        <div class="location-notes-panel hidden"> <h3>Notizen für Standort</h3> <div class="existing-notes"><p>(Hier erscheinen alte Notizen...)</p></div>
            <form>
                <textarea placeholder="Neue Notiz hier eingeben..."></textarea>
                <button type="submit">Notiz Speichern</button>
            </form>
            <button type="button" class="close-button">Schließen</button>
        </div>

        </section>
    </main>

    <footer>
        <p>&copy;2025   -    Nico Puchert    -    PerIS-WebApp</p>
    </footer>  

    <script type="module" src="../static/js/main.js"></script>
</body>

</html>