<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="Soranix" content="PerIS-App Dashboard">
    <title>PerIS Dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    


</body>
    <header>
        <img src="../static/images/PerIS-Logo.png" alt="PerIS-Logo">
        <h1>Dashboard</h1>
        <nav>
            <ul>
                <li><a href="#">Rechercheübersicht</a></li>
                <li><a href="#">Aufgabenliste</a></li>
                <li><a href="#">Trefferliste</a></li>
                <li><a href="#">Einsatzliste</a></li>
                <li><a href="#">Wartungsliste</a></li>
                <li><a href="#">Beschlussliste</a></li>
                <li><a href="#">Statistik</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <section><h2>Übersicht Beschlüsse</h2></section>
        <section><h2>Hinweis & Notizen</h2></section>
        <section><h2>Offene Aufgaben</h2></section>
        <section><h2>Offene Löschungen</h2></section>
        <section><h2>Offene Ausleitungen</h2></section>
        <section><h2>Kamera Zeiten</h2></section>
    </main>

    <footer>
        <p>&copy;2025   -    Nico Puchert    -    PerIS-WebApp</p>
    </footer>
</html>